@import 'normalize.scss'
@import 'reset.scss'

*
    box-sizing: border-box
    margin: 0
    padding: 0
    // font-family: 'Inter', sans-serif
    font-family: 'Poppins', sans-serif
body 
    padding: 30px 60px
    font-family: 'Poppins', sans-serif
    overflow: hidden
    // background: rgb(255,255,255)
    background: linear-gradient(180deg, rgba(255,255,255,1) 61%, rgba(200,200,200,1) 61%, rgba(220,220,220,1) 62%, rgba(255,255,255,1) 100%)

.header 
    display: flex
    justify-content: end
    align-items: center
.header__nav_list
    text-decoration: none
    color: #000
    font-size: 16px
    font-weight: 400
    line-height: 28.88px
    letter-spacing: 4.48px
    word-wrap: break-word
    margin-right: 70px
.header__nav_list-circle
    width: 70px
    height: 70px
    border: 1px solid #000
    border-radius: 50%
.header__nav_list-line 
    width: 1.5px
    height: 50px
    background-color: #000
    transform: rotate(90deg)
.header__nav_list-line_short 
    width: 1.5px
    height: 25px
    background-color: #000
    transform: rotate(90deg)